.edit-filters-container {
  width: 100%;
}

.edit-filters-height-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #636363;
}

.edit-filters-flex-container {
  background-color: #ece1cb;
  color: #2f2f2d;
  width: 100%;
  margin: 5px;
  box-shadow: 1px 1px 3px black;
}

.edit-filters-header {
  height: 50px;
  background-color: #2f2f2d;
  color: #ece1cb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-filters-sub-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.edit-filters-instructions {
  margin-top: 15px;
}

.edit-filters-legend {
  margin: 10px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.edit-filters-legend-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-filters-legend-color {
  height: 10px;
  width: 10px;
}

#legend-black {
  background-color: #2f2f2d;
}

#legend-green {
  background-color: #61c692;
}

.edit-filters-legend-text {
  padding-left: 10px;
}

.edit-filters-button {
  background-color: #61c692;
  width: 100px;
  height: 35px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px black;
  border-radius: 25px;
}

.edit-filters-topic-flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.edit-filters-topic-selected {
  height: 45px;
  width: 30%;
  background-color: #61c692;
  color: #ece1cb;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px black;
}

.edit-filters-topic-unselected {
  height: 45px;
  width: 30%;
  background-color: #2f2f2d;
  color: #ece1cb;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px black;
}

.edit-filters-discovery-settings {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
}

.edit-filters-discovery-dropdown select {
  width: 100px;
  height: 25px;
  border: none;
}

.edit-filters-discovery-text {
  width: 150px;
  text-align: left;
}

.edit-filters-account-setting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.edit-filters-account-setting-text {
  height: 25px;
  display: flex;
  align-items: center;
  text-align: left;
}

.edit-filters-account-setting-input input {
  height: 25px;
  width: 140px;
}

.mismatch-passwords-error-display {
  background-color: red;
  padding: 5px;
  box-shadow: 1px 1px 3px black;
}

.divider {
  border: 1px solid #2f2f2d;
  width: 100%;
}
