#matches-view{
    background-color: rgb(97, 198, 146);
height:100%;

}

#mappedMatches{
    width:90%;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}
.matches{
    margin-top:1rem;
    padding:.25rem;
    margin-left:15%;
width:70%;
background-color: rgb(62,62,62,0.3);
border-radius: 30px 30px 30px 30px;
    box-shadow: 3px 3px 6px 1px rgb(62,62, 62);
}
.matches:hover{
    background-color: rgb(97, 198, 146);
    transform: scale(1.05);
}

.matches-picture-view{
    margin-top:1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    overflow-x:scroll;
font-size: 10px;
}
#mapped-matches-container{
    margin-bottom: 1rem;
    width:100%;
height:50vh;
    overflow-y: scroll;
    box-shadow: 3px 3px 6px 1px rgb(62,62, 62);

}
#lastMessage{
    position:sticky;
margin-left:0.5rem;
margin-top:1rem;
height:2rem;
width:17rem;
border-right:1px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
overflow:scroll;

}

.gamer{
    float: left;
}
.matches-profile-photo{
    height:3rem;
    width:3rem;
    border:10px ridge rgb(68,103,85);
border-radius: 50%;
box-shadow: 3px 3px 6px 1px rgb(62,62, 62)
}

.matches-picture-div{
    border-radius: 105px 105px 10px 10px;
    border: 10px ridge rgb(68,103,85);
    height: 6rem;
    width: 6rem;
    float: right;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
margin-left:1px;
}
.matches-picture-div:hover{
    transform:scale(1.02)
}

.startChat{
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
margin-left:5rem;
margin-right:5rem;
    border:5px outset rgb(68,103,85);
    background-color: rgb(62,62,62,0.3);
    box-shadow: 3px 3px 6px 1px rgb(62,62, 62);

}
.startChat:hover{
    background-color: rgb(97, 198, 146);
    transform: scale(1.05);

}

#chatSelection{
    margin-top:2.5%;
    width: 90vw;
    height:65vh;
    overflow:scroll;
    box-shadow: 3px 3px 6px 1px rgb(62,62, 62);
    border-radius: 35% 35% 10px 10px;
    border: 10px ridge rgb(68,103,85);
    overflow: scroll;

}
#chat-view{
    margin-left:5vw;
}

#toggle2{
    height:2rem;
    width:2rem;
position: absolute;
margin-left:-1vw;
    background-color:whitesmoke;
    border:5px inset rgb(68,103,85);
    border-radius: 50px 50px 50px 50px;
    box-shadow: 3px 3px 6px 1px rgb(62,62, 62)
}
.wow{
    display: flex;
    flex-direction: flex-start;
}
#gamertag{
    font-family: 'Space Grotesk';
    font-size: small;
float:left
}
h3{
    font-family: 'Space Grotesk SemiBold';
}
h6{
    font-family: 'Poppins Thin';
    margin-top:2.5px;
    margin-bottom:5px;
    font-size: 30px;
    background-color: rgb(62,62,62,0.3);
    box-shadow: 3px 3px 6px 1px rgb(62,62, 62);

}

h2{
    font-family: 'Space Grotesk SemiBold';
}