.auth-view-wrapper-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 10px solid rgb(97, 198, 146);
    height: 100vh;
}
.auth-view-border{
    border: solid black;
    height: 100vh; 
}
/* Logo */
.main-logo{
    height:auto;
    width:auto;
    margin-top: 40px;
}


/* Options Container */
.auth-view-options-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 0vh; */
}

.log-in-wrapper{
    margin: 20px;
    width: 75px;
    align-self: center;
    border: 2px solid rgb(97, 198, 146);
    border-radius: 10%;
    box-shadow: -3px 3px 3px 1px rgb(62,62, 62);
}
/* Log-In */
.log-in{
    /* border: 2px solid black ; */
    padding: 5px;
    width: auto;
    font-family: 'Space Grotesk';
}

.log-in:hover{
    background-color: rgb(97, 198, 146);
    transform: scale(1.05);
}

.sign-up-wrapper{
    margin: 20px;
    width: 75px;
    align-self: center;
    
}
/* Sign-Up */
.sign-up{
    padding: 5px;
    border: 2px solid rgb(97, 198, 146);
    border-radius: 10%;
    box-shadow: -3px 3px 3px 1px rgb(62,62, 62);
    font-family: 'Space Grotesk';
}

.sign-up:hover{
    background-color: rgb(97, 198, 146);
    transform: scale(1.05);
}