.registration-components-container-wrapper {
  height: 100%;
}

.credentials-view-wrapper-container {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.credentials-title-container {
  background-color: #2f2f2d;
  color: #ece1cb;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px black;
}

.credentials-view-wrapper {
  background-color: #ece1cb;
  width: 100%;
  height: 200px;
  padding: 10px;
  box-shadow: 1px 1px 3px black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.credentials-view-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

#credentials-view-container-email {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.credentials-view-container input {
  height: 35px;
  border: none;
}

.credentials-view-text {
  display: flex;
  align-items: center;
}

.credentials-view-save-button {
  background-color: #61c692;
  width: 175px;
  height: 45px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px black;
  border-radius: 25px;
}

.credentials-view-spacer {
  height: 30%;
  width: 100%;
}
