
.login-view-wrapper-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 10px solid rgb(97, 198, 146);
    height: 100vh;
}
.login-view-border{
    border: solid black;
    height: 100vh; 
}
.login-view-logo{
    height:auto;
    width:auto;
    margin-top: 40px;
}
.login-view-login-details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-view-login-details-email-container input{
    margin-top: 10px;
    height: 35px;
    border: none;
    margin-bottom: 15px;
    font-family: 'Space Grotesk';
}
.login-view-login-details-password-container input{
    margin-top: 10px;
    height: 35px;
    border: none;
    font-family: 'Space Grotesk';
}
.login-view-login-details-login-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-view-login-details-login-button{
    background-color: #61c692;
    width: 175px;
    height: 45px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px black;
    border-radius: 25px;
    align-self: center;
    font-family: 'Space Grotesk';
}