select{
    /* width: 10vw; */
    height: 30px;
    overflow: auto;
    cursor: pointer;
}

.sub-text{
    font-size: 12px;
    font-style: italic;
    margin: 5px;
}

option {
  
    position: absolute;
    overflow: auto;
    cursor: pointer;
  }